*{
    padding: 0;
    margin: 0;
}

body{
    background-color:cornflowerblue;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    box-shadow: 0 0 1rem rgb(43, 43, 43);
    color: rgb(252, 252, 253);
    filter: blur();
}
.reset{
    padding: 1.25rem;
    font-size: larger;
    border-radius: 1rem;
    border: none;
    color: #fff;
    background-color: #191913;
    box-shadow: 0 0 1rem rgb(43, 43, 43);
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    color: #fff;
    background-color: #191913;
    box-shadow: 0 0 1rem rgb(43, 43, 43);
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}














